<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Guess a number between 1-6</h1>
<h3><a th:href="@{/roll-dice/{id}(id=1)}">Guess 1</a></h3>
<h3><a th:href="@{/roll-dice/{id}(id=2)}">Guess 2</a></h3>
<h3><a th:href="@{/roll-dice/{id}(id=3)}">Guess 3</a></h3>
<h3><a th:href="@{/roll-dice/{id}(id=4)}">Guess 4</a></h3>
<h3><a th:href="@{/roll-dice/{id}(id=5)}">Guess 5</a></h3>
<h3><a th:href="@{/roll-dice/{id}(id=6)}">Guess 6</a></h3>
</body>
</html>
</body>
</html>